* {
    margin: 0px;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}


.roboto {
    font-family: "Roboto", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

.roboto-light {
    font-family: "Roboto", sans-serif;
    font-weight: 300;
}
  
  .roboto-bold {
    font-family: "Roboto", sans-serif;
    font-weight: 700;
}

.playfair-display {
    font-family: "Playfair Display", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

.header-principal {
    padding: 20px;
    background-color: #9246f5;;
    height: 110px;
    text-align: center;
    color: aliceblue;
    box-shadow: #9246f5 0px 0px 50px 5px;
    border: 1px solid rgba(0, 0, 0, 0.719);
}

#cores {
    margin:20px;
    text-align: center;
}

.exemplo-grid {
    padding: 20px;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.card{
    color: white;
    padding: 10px;
    margin: 10px;
    border-radius: 10px;
    width: 200px;
    height: 140px;
    text-align: center;
    transition: 0.3s;
    min-width: 120px;
    box-shadow: rgba(0, 0, 0, 0.308) 1px 1px 1px 1px;
}

.card:hover{
    transform-origin: center;
    transform: scale(1.1);
}

.cor-nome {
    background-color: red;
}

.cor-hex {
    background-color: #3498db;
}

.cor-rgb {
    background-color: rgb(46, 204, 113);
}

.cor-rgba {
    background-color: rgba(155, 89, 182, 0.7);
}

.cor-hsl {
    background-color: hsl(48, 89%, 60%);
}

.paleta-grid {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    padding: 20px;
}

.cor-item{
    padding: 20px;
    color: #ffffff;
    width: 550px;
    box-shadow: rgba(0, 0, 0, 0.308) 1px 1px 1px 1px;
    transition: 0.3s;
}

.cor-item:hover {
    transform: scale(1.008);
    box-shadow: rgba(198, 123, 221, 0.74) 1px 1px 5px 5px;
    border-radius: 10px;
}

.cor-primaria {
    background-color: #9246f5;
    border-radius: 20px 20px 0px 0px;
}

.cor-secundaria {
    background-color: #a670ec;
}

.cor-terciaria {
    background-color: #cbb3eb;
}

.cor-acento {
    background-color: #7543b8;
}

.cor-neutra {
    background-color: #8a75a5;
    border-radius: 0px 0px 20px 20px;
}

#tipografia {
    margin:20px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.tipo-exemplo {
    border-radius: 10px;
    text-align: left;
    border: 1px solid #a670ec;
    margin: 20px;
    box-shadow: rgba(0, 0, 0, 0.308) 0px 1px 2px 2px;
    width: 350px;
    padding: 25px;
    transition: 0.3s;
}

.tipo-exemplo:hover {
    transform: scale(1.1);
}

.titulo-fonte {
    text-align: center;
    border-radius: 10px 10px 0px 0px;
    margin: 0 0 10px 0;
    border-bottom: 3px solid #cbb3eb;
    display: block;
    padding-bottom: 5px;
    width: 100%;
}

.tipo-roboto{
    font-family: "Roboto", sans-serif;
}

.peso-light {
    font-weight: 300;
}

.pesp-regular {
    font-weight: 400;
}

.peso-bold{
    font-weight: 700;
}

.tipo-playfair {
    font-family: "Playfair Display", sans-serif;
}

.tamanho-14 {
    font-size: 14px;
}

.tamanho-16 {
    font-size: 18px;
}

.tamanho-24 {
    font-size: 24px;
}

#backgrounds {
    text-align: center;
}

.bg-cor {
    background-color: #9246f5;
}

.bg-imagem {
    background-image: url("https://img.freepik.com/vetores-gratis/fundo-suave-em-gradiente_23-2148967580.jpg?semt=ais_hybrid&w=740&q=80");
}

.bg-cover {
    background-image: url("https://img.freepik.com/vetores-gratis/fundo-suave-em-gradiente_23-2148967580.jpg?semt=ais_hybrid&w=740&q=80");
    background-size: cover;
}

.bg-contain {
    background-image: url("https://img.freepik.com/vetores-gratis/fundo-suave-em-gradiente_23-2148967580.jpg?semt=ais_hybrid&w=740&q=80");
    background-size: contain;
}

.posicao-grid {
    display: flex;
    flex-direction: column;
}

